# ====================
# Elasticsearch Config
# ====================
ES_URL=https://localhost:9200
ES_USER=elastic
ES_PASSWORD=SUA_SENHA
ES_VERIFY_CERTS=false
ES_CA_CERTS=
ES_SUPPRESS_TLS_WARNINGS=true

# ====================
# Application Config
# ====================
DEFAULT_INDEX=filebeat-*
DEFAULT_TIME_FIELD=@timestamp
PORT=5000

# ====================
# Storage & Cleanup
# ====================
EXPORT_RETENTION_HOURS=24
CLEANUP_INTERVAL_HOURS=1

# ====================
# Production Settings
# ====================
FLASK_ENV=production
DEBUG=false
SECRET_KEY=

# ===================
# SMTP SERVER
# ===================
RELATORIO_EMAILS=remetente@mail.com.br

SMTP_HOST=smtp@mail.com.br
SMTP_PORT=465 #Pode ser também 567
SMTP_USER=USUARIO_SMTP
SMTP_PASS=SENHA_SMTP